/*Estilos generales*/
body{
	background-image: url(https://www.toureiffel.paris/sites/default/files/actualite/image_principale/IMG_0815.jpg);
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: arial;
}
/*Estilos para el menu*/

.nav{
	border-bottom: 1px solid lightblue;
	text-align: right;
	height: 70px;
	line-height: 70px;

}

.nav img{
	float: left;
	width: 100px;
	margin-left: 5%;
}

.menu{
	margin: 0;
	background: #0c6097;
}

.menu a{
	clear: right;
	text-decoration: none;
	color: white;
	margin: 0 10px;
	font-size: 1.5em;
	line-height: 70px;
}

.menu a:hover{
	color: gold;
}

label{
	margin: 0 40px 0 0 ;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}

#toggle{
	display: none;
}

/*Estilos para cuerpo*/
.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}



.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/*Estilos para el footer*/
footer{
	width: 100%;
	height: 120px;
	background: black;
}

footer img{
	width: 50px;
	margin: 0;
	margin-left: 15px;
	margin-top: 20px;
}

.pie{
	text-align: left;
}

.pie a{
	color: white;
	cursor: pointer;
}

.Contacto{
	float: right;
	border-left: 2px solid gold;
	color: white;
	margin-right: 15%;
}




@media only screen and (max-width: 1280px) {
/*Media Para tablet y cel*/
/*Estilos para menu*/
    label {
        display: block;
        cursor: pointer;
    }

    .nav{
    	background: #0c6097;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background: #0c6097;
        position: absolute;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    .menu a:hover{
    	background: #12a1fa;
    	color: #140f07;
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    /*Estilos para el cuerpo*/
    .form-register {
      width: 200px;
    	margin: 50px auto;
    text-align: center;
    }

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

    /*Estilos para el footer*/
    .pie{
    text-align: center;
	}

    .pie a{
	color: white;
	cursor: pointer;
	}

	.Contacto{
		float: left;
		color: white;
		width: 100%;
		text-align: center;
		margin-right: 0%;
		margin-top: 40px;
		border: 2px solid gold;
		background: black;
	}

}