/*Estilos generales*/
body{
	background: #D6EAF8;
	padding: 0;
	margin: 0;
	font-family: arial;
}
/*Estilos para el menu*/

.nav{
	border-bottom: 1px solid lightblue;
	text-align: right;
	height: 70px;
	line-height: 70px;
	width: 100%;
}

.nav img{
	float: left;
	width: 100px;
	margin-left: 5%;
}

.menu{
	background: #0c6097;
}

.menu a{
	clear: right;
	text-decoration: none;
	color: white;
	margin: 0 10px;
	font-size: 1.5em;
	line-height: 70px;
}

.menu a:hover{
	color: gold;
}

label{
	margin: 0 40px 0 0 ;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}

#toggle{
	display: none;
}
/*Estilos para cuerpo*/

div .imagenes{
	background-color: gold;
	border-radius: 5px 7px 5px 7px;
}


div .datos{
	width: 400px;
	height: 310px;
	background-color: whitesmoke;
}

h1{
	text-align: center;
	padding-top: 5px;
	margin-top: 10px;
	font-family: sans-serif;
	text-shadow: 1px -1px 0px gold;
}

h2{
	text-align: center;
	text-shadow: 1px -1px 0px darkred;
	padding: 0;
	margin: 0;
}

p{
	font-family: sans-serif;
	padding: 3px;
	text-align: center;
}

/*Estilos para el footer*/
footer{
	width: 100%;
	height: 140px;
	background: black;
	position: absolute;
	bottom: -1000px;
}

footer img{
	width: 50px;
	margin: 0;
	margin-left: 15px;
	margin-top: 20px;
}

.pie{
	text-align: left;
}

.pie a{
	color: white;
	cursor: pointer;
}

.Contacto{
	float: right;
	border-left: 2px solid gold;
	color: white;
	margin-right: 15%;
}


/*animaciones*/
.imagenes{
	transition: all 1s;
	float: left;
	margin: 10px;
	padding: 13px;
	background-color: gold;
	border-radius: 5px 10px 5px 10px;
	margin-right: 10px;
}

.imagenes:hover{
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-trasnform: scale(0.9);
	-o-transform: scale(0.9);
	z-index: 100;
	background-color: darkgoldenrod;
}


/*media jquery*/
@media only screen and (max-width: 1280px) {
/*Media Para tablet y cel*/
/*Estilos para menu*/
    
body{
background: #D6EAF8;
padding: 0;
margin: 0;
font-family: arial;
}

label {
display: block;
cursor: pointer;
}

.nav{
	border-bottom: 1px solid lightblue;
	text-align: right;
	height: 70px;
	line-height: 70px;
	width: 113%;
}

.nav img{
	float: left;
	width: 100px;
	margin-left: 5%;
}

.menu{
    text-align: center;
    width: 113%;
    display: none;
    background: #0c6097;
    position: absolute;
}

.menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
     
}

.menu a:hover{
    background: #12a1fa;
    color: #140f07;
}

#toggle:checked + .menu {
    display: block;
}

.imagenes{
	transition: all 1s;
	float: left;
	margin: 0px auto;
	padding: 0px auto;
	background-color: gold;
	border-radius: 5px 10px 5px 10px;
	width: 80% auto;
}

.imagenes:hover{
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-trasnform: scale(0.9);
	-o-transform: scale(0.9);
	z-index: 100;
	background-color: darkgoldenrod;
}

img{
	width: 100% auto;
}

div .datos{
	width: 100% auto;
	height: 310px;
	background-color: whitesmoke;
}

h1{
	text-align: center;
	padding-top: 5px;
	margin-top: 5px;
	font-family: sans-serif;
	text-shadow: 1px -1px 0px gold;
}

h2{
	text-align: center;
	text-shadow: 1px -1px 0px darkred;
	padding: 0;
	margin: 0;
}

p{
	font-family: sans-serif;
	padding: 3px;
	text-align: center;
}

footer{
	width: 113%;
	height: 240px;
	background: black;
	position: absolute;
	bottom: -3600px;
}

footer img{
	width: 50px;
	margin: 0;
	margin-left: 15px;
	margin-top: 20px;
}

#titulo{
	display: none;
}

}