*{
    margin: 0;
    padding: 0;
    
} 
.nav{
    border-bottom: 1px solid lightblue;
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.nav img{
    float: left;
    width: 100px;
    margin-left: 5%;
}

.menu{
    margin: 0 30px 0 0;
    background: #0c6097;
}

.menu a{
    clear: right;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 1.5em;
    line-height: 70px;
}

.menu a:hover{
    color: gold;
}

label{
    margin: 0 40px 0 0 ;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle{
    display: none;
}
/*estilos para la animación de avión despegando*/
.con{
    height: 100vh;
    width: 100%;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 1000;
    background-attachment: fixed;
}
.run{
    height: 200px;
    width: 100%;
    background-image: url(img/road.jpg);
    position: absolute;
    left: 0;
    bottom: 0;
}

.avion{
     width: 500px;
     position: absolute;
     bottom: 150px;
     right: -200px;
     animation: plan 5s linear infinite;
     transform-origin: 100% 50%; 
 }

 @keyframes plan{
     0%{
         transform: translateX(0px) translateY(0px) rotate(0deg);
     }
     30%{
        transform: translateX(-500px) translateY(0px) rotate(0deg);
    }
    100%{
        transform: translateX(-1500px) translateY(-200px) rotate(20deg);
    }
 }
 body{
    background: url("img/123.jpg");
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    overflow: scroll;
 }
/*Estilos para el menu

.nav{
	border-bottom: 1px solid lightblue;
	text-align: right;
	height: 70px;
	line-height: 70px;
}

.nav img{
	float: left;
	width: 100px;
	margin-left: 5%;
}

.menu{
	margin: 0 30px 0 0;
	background: #0c6097;
}

.menu a{
	clear: right;
	text-decoration: none;
	color: white;
	margin: 0 10px;
	font-size: 1.5em;
	line-height: 70px;
}

.menu a:hover{
	color: gold;
}

label{
	margin: 0 40px 0 0 ;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}

#toggle{
	display: none;
}*/
/*Estilos para cuerpo*/
.fundadora { 
    
    padding: 1px;
    margin: 10px;
    border: 2px solid black; 
    float: left; 
    width: 100%; 
    height: 50%;
   
}

.fundadora img{
    height: 10%;
    width: 18%;
    padding: 5px;
}

.fundadora h1{
    text-align: center;
    font-size: 300%;
    font-family: coco;
    font-style: italic;
}
.fundadora p{
    text-align: justify;
    font-size: 160%;
    font-family: coco;
    font-style: italic;
    text-align: left;
    color: #ffffff;
    padding: 50px 50px;
}
.gerente { 
    
    padding: 1px;
    margin: 10px;
    border: 2px solid black; 
    float: right; 
    width: 95%; 
    height: 50%;
   
}

.gerente img{
    height: 20%;
    width: 20%;
    padding: 5px;
}

.gerente h1{
    text-align: center;
    font-size: 300%;
    font-family: coco;
    font-style: italic;
}
.gerente p{
    text-align: justify;
    font-size: 160%;
    font-family: coco;
    font-style: italic;
    text-align: left;
    color: #ffffff;
    padding: 10px 10px;
}

/*Estilos para el footer*/


footer img{
	width: 50px;
	margin: 0;
	margin-left: 15px;
	margin-top: 20px;
}

.pie{
	text-align: left;
	margin-top: 467px;
}

.pie a{
	color: white;
	cursor: pointer;
}

.Contacto{
	float: right;
	border-left: 2px solid gold;
	color: white;
	margin-right: 15%;
}

@media only screen and (max-width: 1280px) {
/*Media Para tablet y cel*/
/*Estilos para menu*/
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background: #0c6097;
        position: absolute;
        z-index: 1110;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    .menu a:hover{
    	background: #12a1fa;
    	color: #140f07;
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    /*Estilos para el cuerpo*/


    /*Estilos para el footer*/
    .pie{
    text-align: center;
	margin-top: 467px;
	}

    .pie a{
	color: white;
	cursor: pointer;
	}

	.Contacto{
		float: left;
		color: white;
		width: 100%;
		text-align: center;
		margin-right: 0%;
		margin-top: 40px;
		border: 2px solid gold;
		background: black;
	}

}