/*Estilos generales*/
body{
	background: #D6EAF8;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: arial;
	color: black;
    font: normal 0.8rem Arial, Helvetica, sans-serif;
	font-size: 0.9rem;
}
/*Estilos para el menu*/
.nav{
	border-bottom: 1px solid lightblue;
	text-align: right;
	height: 70px;
	line-height: 70px;

}

.nav img{
	float: left;
	width: 100px;
	margin-left: 5%;
}

.menu{
	margin: 0;
	background: #0c6097;
}

.menu a{
	clear: right;
	text-decoration: none;
	color: white;
	margin: 0 10px;
	font-size: 1.5em;
	line-height: 70px;
}

.menu a:hover{
	color: gold;
}

label{
	margin: 0 40px 0 0 ;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}

#toggle{
	display: none;
}

/*Estilos para cuerpo*/
h1{
	text-align: center;
	font-family: Arial;
}


p{
    font-size: 1em;
    line-height: 1.7em;
    padding: 0 0 10px 0;
}

h1, h2, h3, h4,h5, h6{
    color: black;
    font-size: 1.7em;
    letter-spacing: -1px;
    margin: 0 0 10px 0;

}
h2{
    font-size: 1.6em;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 25px;
}


div#Baner{
	margin-left: 15%;

}

section{
    background-color: #056CF2;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-left: 20px;
    width: 100%;
	height: auto;
	margin-left: 10px;
    
	
}

/*Estilos para el footer*/
footer{
    width: 100%;
	height: 160px;
	background: black;
	bottom: -900px;
  
}

footer img{
	width: 50px;
	margin: 0;
	margin-left: 15px;
	margin-top: 20px;
}

.pie{
	text-align: left;
}

.pie a{
	color: white;
	cursor: pointer;
}

.Contacto{
	float: right;
	border-left: 2px solid gold;
	color: white;
	margin-right: 15%;
}

@media only screen and (max-width: 800px) {
/*Media Para tablet y cel*/
/*Estilos para menu*/
label {
        display: block;
        cursor: pointer;
    }

    .nav{
    	background: #0c6097;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background: #0c6097;
        position: absolute;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    .menu a:hover{
    	background: #12a1fa;
    	color: #140f07;
    }
    #toggle:checked + .menu {
        display: block;
    }

    /*Estilos para el cuerpo*/
     

    /*Estilos para el footer*/
    .pie{
    text-align: center;
	margin-top: 467px;
	}

    .pie a{
	color: white;
	cursor: pointer;
	}

	.Contacto{
		float: left;
		color: white;
		width: 100%;
		text-align: center;
		margin-right: 0%;
		margin-top: 40px;
		border: 2px solid gold;
		background: black;
	}

}

