/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-image: url(img/123.jpg); 
}



.contact_form{  
  width: 40%; 
  height: 20%;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 75%; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-right: 20%;
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


.label{
  display: block; 
  float: center;  
}


button{
  height: 20%; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 25%;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4493;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
  width: 25%;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}
/**/
/*Estilos para el footer*/
footer{
	width: 100%;
	height: 120px;
	background: black;
}

footer img{
	width: 50px;
	margin: 0;
	margin-left: 15px;
	margin-top: 20px;
}

.pie{
	text-align: left;
	margin-top: 467px;
}

.pie a{
	color: white;
	cursor: pointer;
}

.Contacto{
	float: right;
	border-left: 2px solid gold;
	color: white;
	margin-right: 15%;
}
@media only screen and (max-width: 1280px) {
/*Media Para tablet y cel*/
/*Estilos para menu*/
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background: #0c6097;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    .menu a:hover{
    	background: #12a1fa;
    	color: #140f07;
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    /*Estilos para el cuerpo*/
    .contact_form{  
      width: 80%; 
      height: 30%;
      margin: 80px auto;
      border-radius: 10px;  
      padding-top: 30px;
      padding-bottom: 20px;  
      background-color: #fbfbfb; 
      padding-left: 30px; 
    }
    button{
      height: 20%; 
      padding-left: 5px;
      padding-right: 5px;   
      margin-bottom: 20px; 
      margin-top: 10px;   
      text-transform: uppercase;
      background-color: #ab4493; 
      border-color: #ab4493; 
      border-style: solid; 
      border-radius: 10px;  
      width: 25%;   
      cursor: pointer;
    }
    
    .hh{
      text-align: center;

    }


    /*Estilos para el footer*/
    .pie{
    text-align: center;
	margin-top: 467px;
	}

    .pie a{
	color: white;
	cursor: pointer;
	}

	.Contacto{
		float: left;
		color: white;
		width: 100%;
		text-align: center;
		margin-right: 0%;
		margin-top: 40px;
		border: 2px solid gold;
		background: black;
	}

}/*Estilos para el menu*/

.nav{
	border-bottom: 1px solid lightblue;
	text-align: right;
	height: 70px;
	line-height: 70px;
}

.nav img{
	float: left;
	width: 100px;
	margin-left: 5%;
}

.menu{
	margin: 0 30px 0 0;
	background: #0c6097;
  position: absolute;
}

.menu a{
	clear: right;
	text-decoration: none;
	color: white;
	margin: 0 10px;
	font-size: 1.5em;
	line-height: 70px;
}

.menu a:hover{
	color: gold;
}



#toggle{
	display: none;
}
.h{
  font-size: 39px;  
  text-align: center; 
  padding-bottom: 20px; 
  color: #ffffff
}